.promo {
    min-height: 100vh;
    position: relative;
    background: no-repeat 50%/cover url('../img/main_bg.jpg');
    padding-top: 205px;
    &__title {
        width: 550px;
        margin-top: 10px;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
    }
    &__link {
        color: black;
        font-weight: bold;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
}