.skills {
    min-height: 1140px;
    padding-top: 120px;
    &__title {
        text-align: center;
        &::before {
            left: 48%;
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__devider {
        margin: auto;
        margin-top: 20px;
    }
    &__items {
        display: grid;
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        grid-template-columns: repeat(auto-fit, 270px);
        gap: 13px;
        justify-content: center;
        padding: 60px 10px 0 10px;
    }
    &__item {
        padding: 30px 29px 25px 30px;
        border: 1px solid black;
    }
    &__icon {
        width: 65px;
        height: 65px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__item-title {
        margin-top: 20px;
        text-align: start;
    }
    &__descr {
        margin-top: 15px;
        font-size: 12px;
    }
    &__progress {
        padding-top: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-item {
            flex-basis: 350px;
            margin-bottom: 30px;
            height: 76px;
        }
        &-head {
            display: flex;
            height: 36px;
            justify-content: space-between;
            align-items: center;
        }
        &-body {
            position: relative;
            width: 100%;
            height: 14px;
            margin-top: 20px;
            border-radius: 4px;
            background-color: #e8e4de;
        }
        &-result {
            position: absolute;
            top: 0;
            left: 0;
            height: inherit;
            background-color: $main_color;
            border-radius: inherit;
        }
    }
}

@media (max-width: 768px) {
    .skills {
        &__progress {
            justify-content: center;
        }
    }
}
